.importClass {
    color: #fff;
    background: #009538;
    width: 62px;
    margin: 0 20px 0 5px;
    border-radius: 5px;
    font-size: 60px;
    line-height: -6;
    height: 60px;
    line-height: 0;
    padding-bottom: 15px;
    border: navajowhite;
}