.app{
    text-align: center;
}
.cart{
    margin: 1rem;
    padding: 1rem;
    background-color: #282c34;
    color: #fff;
}
.Btn{
    padding: 0.5rem;
    margin: 0.5rem;
    width: 5rem;
    cursor: pointer;
    transition: all 0.3s;
}
section{
    display: grid;
}

input{
    margin: 0.5rem;
    padding: 0.5rem;
    width: 20rem;
}

@media screen and (min-width: 600px) {
    section{
        grid-template-columns: auto auto;
    }
}
@media screen and (min-width: 768px) {
    section{
        grid-template-columns: auto auto auto;
    }    
}

@media screen and (min-width: 992px) {
    section{
        grid-template-columns: auto auto auto auto;
    }
    
}